.Post {
	max-width: 614px;
	margin-bottom: 5px;
	border: 1px solid lightgray;
	background-color: white;
	margin-top: 10px;
}

.Post_header {
	padding: 10px;
	display: flex;
	width: 614px;
	height: 60px;
}

.Post_avatar {
	border-radius: 50px;
	max-width: 50px;
	max-height: 50px;
	margin: 5px;
	object-fit: cover;
	margin-right: 5px;
}

.Post_user-link {
	text-decoration: none;
	color: black;
}

.Post_photo-container {
	width: 614px;
	height: 767.08px;
}

.Post_photo {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.Post_photo-footer {
	padding-top: 10px;
}

.Post_caption {
	margin-left: 25px;
}

.Post_likes {
	margin-left: 25px;
}

#Post_heart-red {
	color: red;
}

#Post_heart:hover {
	color: rgb(190, 4, 4);
	cursor: pointer;
}

.Post_like-count {
	margin-left: 5px;
}
.Post_comment-icon {
	color: black;
}

#Post_comment-bubble {
	margin-left: 15px;
}

.Post_comment-count {
	margin-left: 5px;
}

#Post_comment-bubble:hover {
	color: #777777;
	cursor: pointer;
}

.Post_comment-container {
	margin-top: 10px;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.Post_comments-list{
	

	max-height: 67px;
	overflow-y: scroll;
}

.Post_comment {
	list-style: none;
	padding: 5px;
	margin-right: 15px;
}

.commentPost form {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.commentPost button {
	padding-right: 10px;
}

#commentContainerInput {
	width: 100%;
}

.commentInput {
	width: 95%;
	height: 40px;
	justify-content: space-between;
	border: none;
}

.commentPostButtonFalse {
	font-weight: 700;
	color: #a9d9f8;
}

.commentPostButtonTrue {
	font-weight: 700;
	color: #45b2f8;
	padding: 10px;
	display: flex;
	align-self: center;
	min-width: 50px;
	min-height: 50px;
}

.Post_comment-avatar {
	border-radius: 50px;
	max-width: 30px;
	max-height: 30px;
	margin: 5px;
	object-fit: cover;
	margin-left: -25px;
}

.Post_comment-username {
	margin-left: 5px;
	margin-top: 10px;
}

.Post_comment-content {
	margin-left: 15px;
	margin-top: 10px;
}

.Post_photo-container {
	/* display: flex;
	justify-content: space-around; */
	height: 100%;
}

.Post_photo-container img{
	max-width: 614px;
	max-height: auto;
}

@media only screen and (min-width: 200px) and (max-width: 875px) {
	.Post {
		width: 375px;
		height: auto;
		padding: 0px;
		margin-bottom: 0px;
		margin-top: 5px;
	}

	.Post_photo {
		width: 375px;
		height: 375px;
	}

	.Post_photo-container {
		/* display: flex;
		justify-content: space-around; */
		height: 100%;
	}

	.Post_photo-container img{
		max-width: 375px;
		max-height: auto;

		/* height: 375px;
		width: auto; */
	}
}
