/*
    Photo and comments for desktop
    Comments only for mobile
*/

.PostPage_post-container {
  padding-top: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

