/*
    Photo and comments for desktop
    Comments only for mobile
*/

.PostPage_post-container {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

