/* LOGINFORM.JS */
#loginButton {
}

#loginButtonFalse {
  background-color: #b2dffc;
  width: -webkit-fill-available;
  margin-top: 5px;
  margin-bottom: 30px;
}

#loginButtonTrue {
  background-color: #0095f6;
  width: -webkit-fill-available;
  margin-top: 5px;
  margin-bottom: 30px;
}


.login_form-email{
  padding-bottom: 10px;
}


.login_form-password{
  padding-bottom: 10px;
  
}

.login_form-email input,
.login_form-password input{

  width: -webkit-fill-available;
}